.swiper {
  width: 540px;
  height: 300px;
  border-radius: 16px;
  margin-top: var(--space-3);
}
@media (max-width: 1200px) {
  .swiper {
    width: 363px;
    height: 240px;
  }
}
@media (max-width: 900px) {
  .swiper {
    width: 100%;
    height: 240px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
    color: var(--colors-gray300);
}

.swiper-button-prev {
    color: var(--colors-gray300);
}