version: "3.8"
services:
  indexer-service:
    image: file-market-indexer-service:latest
    ports:
      - "9202:9202"
    depends_on:
      - indexer-postgres
    volumes:
      - ~/logs:/logs
    restart: unless-stopped
  oracle-service:
    image: file-market-oracle-service:latest
    depends_on:
      - oracle-redis
    volumes:
      - ~/logs:/logs
    restart: unless-stopped
  indexer-swagger:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "9201:8080"
    volumes:
      - ~/indexer-swagger:/specs
    environment:
      - SWAGGER_JSON=/specs/swagger.yaml
  oracle-redis:
    image: redis:7
    volumes:
      - cache-redis-data:/data
    command: redis-server --save 60 1
  indexer-postgres:
    image: postgres:13
    volumes:
      - indexer-postgres-data:/var/lib/postgresql/data
    env_file: ~/.indexer_pg_env
    restart: unless-stopped
  indexer-postgres-migration:
    build:
      context: .
      dockerfile: migrate.Dockerfile
    env_file: ~/.indexer_pg_env
    depends_on:
      - indexer-postgres

volumes:
  indexer-postgres-data:
  cache-redis-data: