name: MAIN CI
on:
  push:
    branches:
      - "main"
jobs:
  build-frontend:
    runs-on: [self-hosted, main]
    if: ${{ !failure() && !cancelled() }}
    steps:
      - uses: actions/checkout@v3
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: frontend/node_modules
          key: ${{ runner.os }}-main-node-${{ hashFiles('frontend/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-main-node
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: frontend/
      - name: Build frontend
        run: |
          yarn build
          zip -r frontend.zip dist
        working-directory: frontend/
      - name: Save artifacts
        uses: actions/upload-artifact@v3
        with:
          name: main-frontend
          path: frontend/frontend.zip
  build-oracle:
    runs-on: [self-hosted, main]
    steps:
      - uses: actions/checkout@v3
      - name: Copy .env from host
        run: cp ~/.oracle_main_env backend/.env
      - name: Build contracts
        run: make build-contracts
        working-directory: backend/
      - name: Build oracle container
        run: docker build -t mark3d-oracle-service:latest -f backend/Dockerfile .
  build-indexer:
    runs-on: [self-hosted, main]
    steps:
      - uses: actions/checkout@v3
      - name: Copy .env from host
        run: cp ~/.indexer_main_env indexer/.env
      - name: Build contracts
        run: make build-contracts
        working-directory: backend/
      - name: Build models
        run: make build-models
        working-directory: backend/
      - name: Build indexer container
        run: docker build --build-arg env=main -t mark3d-indexer-service:latest .
        working-directory: backend
  update:
    runs-on: [self-hosted, main]
    needs: [ build-frontend, build-oracle, build-indexer ]
    steps:
      - uses: actions/checkout@v3
      - name: Load frontend artifacts
        uses: actions/download-artifact@v3
        with:
          name: main-frontend
      - name: Update frontend
        run: |
          unzip frontend.zip
          sudo rm -r /usr/share/nginx/mark3d.xyz/*
          sudo mv dist/* /usr/share/nginx/mark3d.xyz/
      - name: Update swagger
        run: cp indexer/swagger.yaml ~/indexer-swagger/
      - name: Update compose
        run: docker-compose -f docker-compose.yml up -d mark3d-indexer-swagger mark3d-indexer-postgres mark3d-oracle-redis mark3d-indexer-service mark3d-oracle-service
      - name: update nginx
        run: |
          sudo mv nginx.conf /etc/nginx/conf.d/mark3d.conf
          sudo nginx -s reload